color-white = #fff
color-black = #000000
color-orange = #f89c00
color-orange-hover = #ffbe50
color-gray = #707F89
color-base = #fbefee
color-font-strong = #4c4948
color-font = #3b4043
color-bg-accent = #f7f9fc
color-light-blue = #BEE8F8
color-blue = #11347A

main-color = #EAD138
back-color =	#31302A
back-block-color =	#D7CB84

link(color-link)
  color color-link
  text-decoration none
  &:hover, &:active, &:visited, &:focus
    color color-link
    text-decoration none
active(color-active)
  &:active
    background color-active
