font-family-NotoSans()
  font-family "Noto Sans CJK JP"

font-family-Lucida()
  font-family "Lucida Sans Typewriter"

font-family-Meiryo()
 font-family 'メイリオ', 'Meiryo', sans-serif

font-family-Hiraginopro()
 font-family "ヒラギノ角ゴ Pro"

letter-spacing50()
  remit(letter-spacing, 1.5px)
